<ion-header>
  <ion-toolbar>
    <ion-title>Tutorials</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()" color="danger" fill="solid">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="aTutorial; else noTutorial">
  <ion-card>
    <ion-card-header>
      <ion-card-header>{{id | uppercase}} Tutorial</ion-card-header>
    </ion-card-header>
    <ion-card-content>
      {{aTutorial.desc}}
    </ion-card-content>
  </ion-card>
</ion-content>

<ng-template #noTutorial>
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-header>{{id | uppercase}} Tutorial</ion-card-header>
      </ion-card-header>
      <ion-card-content>
        Looks like you found a tutorial that is still being worked on. Sorry for the inconvenience, check back soon for new tutorials.
      </ion-card-content>
    </ion-card>
  </ion-content>
</ng-template>
