<!--This page should always be included in another page.-->

<ion-grid *ngIf="uniS.aSolarBody.colony; else noColony" class="ut-item-background-color">
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Details</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let col of uniS.aCTableColumns">
                <ion-item>
                  <ion-label position="stacked">{{col.label}}</ion-label>
                    <span *ngIf="col.filter === 'coordinates'">
                      {{uniS.aSolarBody.xCoordinate}}, {{uniS.aSolarBody.yCoordinate}}
                    </span>
                      <span *ngIf="col.filter === 'resourceOne' || col.filter === 'resourceTwo'">
                      {{uniS.aSolarBody[col.filter]}} <span *ngIf="uniS.aSolarBody[col.filter] === 'ore' || uniS.aSolarBody[col.filter] === 'silicone' || uniS.aSolarBody[col.filter] === 'power'">- {{uniS.aSolarBody[col.filter+'Yield']}}% Yield</span>
                    </span>
                      <span *ngIf="col.filter !== 'resourceOne' && col.filter !== 'resourceTwo' && col.filter !== 'coordinates'">
                      {{uniS.aSolarBody[col.filter]}}
                    </span>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <!--
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Solar System Details</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let col of uniS.aSSTableColumns">
                <ion-item>
                  <ion-label position="stacked">{{col.label}}</ion-label>
                  <ion-item class="ion-no-padding" lines="none">
                    <ion-label>
                      <span *ngIf="col.filter === 'coordinates'; else normalSS">
                        {{uniS.aSolarSystem.xCoordinate}}, {{uniS.aSolarSystem.yCoordinate}}
                      </span>
                      <ng-template #normalSS>
                        {{uniS.aSolarSystem[col.filter]}}
                      </ng-template>
                    </ion-label>
                  </ion-item>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
    -->
  </ion-row>

  <ion-row>
    <ion-col>
      <!--<app-trade [trader]="viewer" [market]="'colony'"></app-trade>-->
      <app-trade [market]="'colony'" [trader]="trader" [traderID]="traderID"></app-trade>
    </ion-col>
  </ion-row>
</ion-grid>

<ng-template #noColony>
  <ion-card>
    <ion-card-content>
      No colony Found at Location
    </ion-card-content>
  </ion-card>
</ng-template>
