<ion-header>
  <ion-toolbar>
    <ion-title>Universe Trader</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header></ion-card-header>
    <ion-card-content style="text-align: center">
      <p>
        Welcome to Universe Trader!
      </p>
      <p>
        A SciFi Trade simulator.
        Play from your browser.
        No downloads are needed!
      </p>
      <p>
        Embark on your journey to control the universe market through trade and production.
      </p>
      <p>
        How far can you go?
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card style="width: 500px; margin: 5px auto">
    <ion-card-header>
      <ion-card-title style="text-align: center">Login or Register</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <ion-segment [(ngModel)]="nsTab">
        <ion-segment-button value="login">
          <ion-label>Login</ion-label>
        </ion-segment-button>
        <ion-segment-button value="register">
          <ion-label>Register</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input id="email" type="email"  placeholder="Email" [(ngModel)]="emailInput"></ion-input>
      </ion-item>
      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input id="password" type="password" placeholder="Password" [(ngModel)]="passwordInput"></ion-input>
        <!--<ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Password needs to be 6 characters</ion-note>-->
      </ion-item>

      <span [ngSwitch]="nsTab">
        <span *ngSwitchCase="'login'">
          <ion-button type="button" color="primary" (click)="loginUser()">Log In</ion-button>
          &nbsp;
          &nbsp;
          &nbsp;
          <a href="javascript:void(0)" (click)="forgotPasswordAlert()">Forgot Password?</a>
        </span>
        <span  *ngSwitchCase="'register'">
          <ion-button type="button" color="primary" (click)="registerUser()">Register</ion-button>
        </span>
      </span>

      <div class="form-group text-center">
        <img src="../../assets/images/loginGoogle.png" alt="" srcset="" (click)="googleLogin()" style="cursor: pointer;">
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
