<ion-card>
  <ion-card-content>
    <ion-accordion-group>
      <ion-accordion>
        <ion-item slot="header">
          <ion-label></ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Description</ion-label>
                Data
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card-content>
</ion-card>


