<ion-card>
  <!--
  <ion-card-header>
    <ion-card-title>Colonies at {{us.aSolarBody.name}}</ion-card-title>
    <ion-item *ngIf="coloniesLoaded">
      <ion-label position="floating">Select Colony for Trading</ion-label>
      <ion-select name="colony" [(ngModel)]="colonyS.aColony.id" (ngModelChange)="getColonyInventory(aColony)">
        <ion-select-option *ngFor="let colony of us.aColonies" [value]="colony.id">{{colony.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card-header>
  -->
  <ion-card-content>
      <span *ngIf="trader === 'ship'">
        Ship Capacity: {{capacityAvailable}}
      </span>
    <span *ngIf="trader === 'warehouse'">
        Warehouse Capacity: {{capacityAvailable}}
      </span>

    <ion-grid>
      <ion-row class="item-list-border">
        <ion-col>Item</ion-col>
        <ion-col>Quantity Available</ion-col>
        <ion-col>COG</ion-col>
        <ion-col>Quantity to Sell</ion-col>
        <ion-col>Sale Price</ion-col>
        <ion-col>Sell</ion-col>
      </ion-row>
      <ion-row *ngFor="let item of aInventoryLevels" class="item-list-border">
        <ion-col>
          {{item.name}}
        </ion-col>
        <ion-col>
          {{item.quantity | number}}
        </ion-col>
        <ion-col>
          {{item.cost / item.quantity | number}}
        </ion-col>
        <ion-col>
          <ion-input
            name="sellAmount_{{item.name}}"
            type="number"
            #sellAmount
            max="{{aaInventoryLevels[item.name].quantity}}"
            min="0"
            placeholder="{{aaInventoryLevels[item.name].quantity}}"
          >
          </ion-input>
        </ion-col>
        <ion-col>
          <ion-input
            name="sellPrice_{{item.name}}"
            type="number"
            #sellPrice
            min="1"
            placeholder="{{item.cog}}"
          >
          </ion-input>
        </ion-col>
        <ion-col>
          <ion-button (click)="confirmListAlert(item, sellAmount.value, sellPrice.value)" color="danger" fill="solid">List</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
