<ion-header>
  <!--
  <ion-toolbar>
    <ion-title>logs</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="globalS.viewTutorial('logs')">
        <ion-icon name="bulb-outline"></ion-icon>Tutorial
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  -->
  <ion-segment [(ngModel)]="logTab">
    <ion-segment-button value="transactions" *ngIf="aTransactions">
      <ion-label>Transactions</ion-label>
    </ion-segment-button>
    <ion-segment-button value="notifications" *ngIf="aNotifications">
      <ion-label>Notifications</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<span [ngSwitch]="logTab">
  <ion-grid *ngSwitchCase="'transactions'">
    <ion-row>
      <ion-col *ngFor="let column of transactionLogsFields">
        {{column.label}}
        <span *ngIf="transactionLogsSortField === column.filter">
          <ion-icon *ngIf="transactionLogsOrder === false" name="arrow-up-circle-outline"></ion-icon>
          <ion-icon *ngIf="transactionLogsOrder === true" name="arrow-down-circle-outline"></ion-icon>
        </span>
      </ion-col>

      <ion-col>
        <ion-button id="nested-button"><ion-icon name="funnel-outline"></ion-icon></ion-button>
        <ion-popover trigger="nested-button" [dismissOnSelect]="true">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item [button]="true" [detail]="false" *ngFor="let column of transactionLogsFields">
                  <ion-label (click)="sortTransactions(column.filter, transactionLogsOrder= !transactionLogsOrder)">{{column.label}}</ion-label>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>

        <ion-button *ngIf="transactionLogsOrder === false" (click)="sortTransactions(transactionLogsSortField, transactionLogsOrder= !transactionLogsOrder)">
          <ion-icon name="arrow-up-circle-outline"></ion-icon>
        </ion-button>
        <ion-button *ngIf="transactionLogsOrder === true" (click)="sortTransactions(transactionLogsSortField, transactionLogsOrder= !transactionLogsOrder)">
          <ion-icon name="arrow-down-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let aTransaction of aTransactions; let i = index" [ngClass]="(i % 2 === 0) ? 'odd-row' : 'even-row'">
      <ion-col>{{globalS.formatTimeStamp(aTransaction.time)}}</ion-col>
      <ion-col>{{aTransaction.type}}</ion-col>
      <ion-col>{{aTransaction.item}}</ion-col>
      <ion-col [ngClass]="(aTransaction.flow === 'in') ? 'transactionInflow' : 'transactionOutflow'">{{aTransaction.pulsars | number}}</ion-col>
      <ion-col>{{aTransaction.balance | number}}</ion-col>
      <ion-col><ion-button (click)="aVTransaction= aTransaction; viewTransaction= true"><ion-icon name="information-circle-outline"></ion-icon></ion-button></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngSwitchCase="'notifications'">
    <ion-row>
      <ion-col>Message</ion-col>
      <ion-col>Time</ion-col>
    </ion-row>
    <ion-row *ngFor="let aNotification of aNotifications; let i = index" [ngClass]="(i % 2 === 0) ? 'odd-row' : 'even-row'">
      <ion-col>{{aNotification.type}}</ion-col>
      <ion-col>{{globalS.formatTimeStamp(aNotification.time)}}</ion-col>
    </ion-row>
  </ion-grid>
</span>

<ion-modal [isOpen]="viewTransaction" (willDismiss)="onWillDismiss($event)" [backdropDismiss]="false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="close()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">type</ion-label>
              {{aVTransaction.type}}
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">description</ion-label>
              {{aVTransaction.details.desc}}
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">quantity</ion-label>
              {{aVTransaction.details.quantity}}
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">item</ion-label>
              {{aVTransaction.item}}
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">your cog</ion-label>
              <span *ngIf="aVTransaction.type === 'sell'; else buy">
                {{aVTransaction.details.cog | number}}
              </span>
              <ng-template #buy>
                {{aVTransaction.pulsars / aVTransaction.details.quantity | number}}
              </ng-template>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">pulsars per unit</ion-label>
              {{aVTransaction.details.itemPrice| number}}
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">total pulsars</ion-label>
              {{aVTransaction.details.totalPrice | number}}
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">fees/taxes</ion-label>
              <span class="transactionOutflow">
                {{aVTransaction.details.fees}}
              </span>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">inflow/outflow</ion-label>
              <span [ngClass]="(aVTransaction.type === 'sell') ? 'transactionInflow' : 'transactionOutflow'">
                {{aVTransaction.pulsars | number}}
              </span>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">profit/loss</ion-label>
              <span [ngClass]="(aVTransaction.details.pl >= 0) ? 'transactionInflow' : 'transactionOutflow'">
                {{aVTransaction.details.pl}}
              </span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">balance</ion-label>
              {{aVTransaction.balance | number}}
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">time</ion-label>
              {{globalS.formatTimeStamp(aVTransaction.time)}}
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ng-template>
</ion-modal>
