<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email is invalid</ion-note>
    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Password needs to be 6 characters</ion-note>
    </ion-item>

    <ion-button type="submit" expand="block" [disabled]="!credentials.valid">Log in</ion-button>
    <ion-button type="button" expand="block" color="secondary" (click)="register()">Create account</ion-button>
  </form>

  <form *ngIf="!user">
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" (click)="loginG()" expand="block">Login with Google</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ion-card *ngIf="user">
    <ion-img [src]="user.photoURL"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{user.email}}</ion-card-subtitle>
      <ion-card-title>{{user.displayName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="logoutG()" expand="block" color="danger">Logout</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
