<!--This page should always be included in another page.-->

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-icon name="wallet-outline" style="display:block;"></ion-icon>
            <!--
            Pulsar Balance: {{cs.aCharacter.pulsars | number}} <ion-icon src="assets/icon/PulsarCreditIcon-3.svg"></ion-icon>
            <br />
            -->
          Pulsar Balance: {{cs.aCharacter.pulsars | number}} <ion-icon src="assets/icon/PulsarCreditSymbol.svg"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <span *ngIf="trader === 'ship'">
            Ship Capacity: {{capacityAvailable}}
          </span>
          <span *ngIf="trader === 'warehouse'">
            Warehouse Capacity: {{capacityAvailable}}
          </span>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card *ngIf="showTrade">
        <!--
        <ion-card-header>
          <ion-card-title>Colonies at {{us.aSolarBody.name}}</ion-card-title>
          <ion-item *ngIf="coloniesLoaded">
            <ion-label position="floating">Select Colony for Trading</ion-label>
            <ion-select name="colony" [(ngModel)]="colonyS.aColony.id" (ngModelChange)="getColonyInventory(aColony)">
              <ion-select-option *ngFor="let colony of us.aColonies" [value]="colony.id">{{colony.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card-header>
        -->
        <ion-card-content *ngIf="platform.sizeTemplate === 'standard'">
          <ion-grid>
            <ion-row class="item-list-border">
              <ion-col>
                <ion-item fill="solid" class="ion-margin-bottom">
                  <ion-label position="floating">
                    Item
                    <span *ngIf="sortField === 'name'">
                <ion-icon *ngIf="sortOrder === false" name="arrow-up-circle-outline"></ion-icon>
                <ion-icon *ngIf="sortOrder === true" name="arrow-down-circle-outline"></ion-icon>
              </span>
                  </ion-label>
                  <ion-input type="text" name="filterName" [(ngModel)]="aMarketInventoryFilters.name" (ngModelChange)="filterMarketInventory()" clearInput=""></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item fill="solid" class="ion-margin-bottom">
                  <ion-label position="floating">
                    Type
                    <span *ngIf="sortField === 'type'">
                <ion-icon *ngIf="sortOrder === false" name="arrow-up-circle-outline"></ion-icon>
                <ion-icon *ngIf="sortOrder === true" name="arrow-down-circle-outline"></ion-icon>
              </span>
                  </ion-label>
                  <ion-input type="text" name="filterType" [(ngModel)]="aMarketInventoryFilters.type" (ngModelChange)="filterMarketInventory()" clearInput=""></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label (click)="sortMarketItems('quantity', sortOrder= !sortOrder)">
                    <span *ngIf="trader === 'station'">Station</span><span *ngIf="trader === 'colony'">Colony</span> Quantity
                    <span *ngIf="sortField === 'quantity'; else qReady">
                <ion-icon *ngIf="sortOrder === false" name="arrow-up-circle-outline"></ion-icon>
                <ion-icon *ngIf="sortOrder === true" name="arrow-down-circle-outline"></ion-icon>
              </span>
                    <ng-template #qReady>
                      <ion-icon name="arrow-up-circle-outline"></ion-icon>
                      <ion-icon name="arrow-down-circle-outline"></ion-icon>
                    </ng-template>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label (click)="sortMarketItems('quantity', sortOrder= !sortOrder)">
                    <span *ngIf="trader === 'warehouse'">Warehouse</span><span *ngIf="trader === 'ship'">Ship</span> Quantity
                    <span *ngIf="sortField === 'quantity'; else qReady">
                <ion-icon *ngIf="sortOrder === false" name="arrow-up-circle-outline"></ion-icon>
                <ion-icon *ngIf="sortOrder === true" name="arrow-down-circle-outline"></ion-icon>
              </span>
                    <ng-template #qReady>
                      <ion-icon name="arrow-up-circle-outline"></ion-icon>
                      <ion-icon name="arrow-down-circle-outline"></ion-icon>
                    </ng-template>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                Price
                <br />
                Buy <span *ngIf="market === 'colony'">(Sell)</span>
              </ion-col>
              <ion-col>Buy<span *ngIf="market === 'colony'">(Sell)</span></ion-col>
            </ion-row>
            <ion-row *ngFor="let item of aFilteredMarketInventory" class="item-list-border">
              <ion-col>
                {{ss.aaDefaultItems[item.name].displayName}}
                <!--{{item.displayName}}-->
              </ion-col>
              <ion-col>
                {{item.type}}
              </ion-col>
              <ion-col>
                {{item.quantity | number}}
              </ion-col>
              <ion-col>
                <span *ngIf="aaInventoryLevels[item.name]">{{aaInventoryLevels[item.name].quantity | number}}</span>

              </ion-col>
              <ion-col>
                {{item.listPrice | number}}
                <span *ngIf="market === 'colony'">({{item.buyPrice}})</span>
              </ion-col>
              <ion-col>
                <ion-grid>
                  <ion-row>
                    <ion-col style="text-align: center">
                      Buy {{buySellAmount.value}} @ {{item.listPrice | number}} = {{buySellAmount.value * item.listPrice | number}}
                      <br />
                      <span *ngIf="market === 'colony'">
                  (Sell {{buySellAmount.value}} @ {{item.buyPrice | number}} = {{buySellAmount.value * item.buyPrice | number}})
                </span>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-label position="floating">Amount</ion-label>
                        <ion-input
                          name="buySellAmount_{{item.name}}"
                          type="number"
                          #buySellAmount
                          min="0"
                        >
                        </ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col class="center-content">
                      <ion-button (click)="confirmTradeAlert('buy', item, buySellAmount.value, item.listPrice, buySellAmount.value * item.listPrice)" color="danger" fill="solid">Buy</ion-button>

                      <ion-button *ngIf="market === 'colony'" (click)="confirmTradeAlert('sell', item, buySellAmount.value, item.buyPrice, buySellAmount.value * item.buyPrice)" color="danger" fill="solid">Sell</ion-button>
                    </ion-col>
                  </ion-row>

                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
        <ion-card-content *ngIf="platform.sizeTemplate === 'small'">
          <!--Styled like AMZ-->
          <ion-button id="amz-filter-nested-button"><ion-icon name="filter-outline"></ion-icon></ion-button>
          <ion-popover trigger="amz-filter-nested-button" [dismissOnSelect]="false">
            <ng-template>
              <ion-content>
                <ion-list>
                  <ion-item-group>
                    <!--
                    <ion-item-divider>
                      Type
                    </ion-item-divider>
                    <ion-item (click)="aMarketInventoryFilters.type= 'Raw Resource'; filterMarketInventory()">
                      Raw Resource
                    </ion-item>
                    -->

                    <ion-item-divider>
                      Filter
                    </ion-item-divider>

                    <ion-item fill="solid" class="ion-margin-bottom">
                      <ion-label position="floating">
                        Item Name
                      </ion-label>
                      <ion-input type="text" name="filterName" [(ngModel)]="aMarketInventoryFilters.name" (ngModelChange)="filterMarketInventory()" clearInput=""></ion-input>
                    </ion-item>

                    <ion-item fill="solid" class="ion-margin-bottom">
                      <ion-label position="floating">
                        Type
                      </ion-label>
                      <ion-input type="text" name="filterType" [(ngModel)]="aMarketInventoryFilters.type" (ngModelChange)="filterMarketInventory()" clearInput=""></ion-input>
                    </ion-item>
                  </ion-item-group>

                  <ion-item-group>
                    <ion-item-divider>
                      Sort
                    </ion-item-divider>

                    <ion-item (click)="sortMarketItems('name', sortOrder= !sortOrder)" style="cursor: pointer">
                      <ion-label>
                        Item Name
                        <span *ngIf="sortField === 'name'; else qReady">
                          <ion-icon *ngIf="sortOrder === false" name="arrow-up-circle-outline"></ion-icon>
                          <ion-icon *ngIf="sortOrder === true" name="arrow-down-circle-outline"></ion-icon>
                        </span>
                        <ng-template #qReady>
                          <ion-icon name="arrow-up-circle-outline"></ion-icon>
                          <ion-icon name="arrow-down-circle-outline"></ion-icon>
                        </ng-template>
                      </ion-label>
                    </ion-item>
                    <ion-item (click)="sortMarketItems('type', sortOrder= !sortOrder)" style="cursor: pointer">
                      <ion-label>
                        Type
                        <span *ngIf="sortField === 'type'; else qReady">
                          <ion-icon *ngIf="sortOrder === false" name="arrow-up-circle-outline"></ion-icon>
                          <ion-icon *ngIf="sortOrder === true" name="arrow-down-circle-outline"></ion-icon>
                        </span>
                        <ng-template #qReady>
                          <ion-icon name="arrow-up-circle-outline"></ion-icon>
                          <ion-icon name="arrow-down-circle-outline"></ion-icon>
                        </ng-template>
                      </ion-label>
                    </ion-item>
                    <ion-item (click)="sortMarketItems('quantity', sortOrder= !sortOrder)" style="cursor: pointer">
                      <ion-label>
                        Quantity
                        <span *ngIf="sortField === 'quantity'; else qReady">
                          <ion-icon *ngIf="sortOrder === false" name="arrow-up-circle-outline"></ion-icon>
                          <ion-icon *ngIf="sortOrder === true" name="arrow-down-circle-outline"></ion-icon>
                        </span>
                        <ng-template #qReady>
                          <ion-icon name="arrow-up-circle-outline"></ion-icon>
                          <ion-icon name="arrow-down-circle-outline"></ion-icon>
                        </ng-template>
                      </ion-label>
                    </ion-item>
                    <ion-item (click)="sortMarketItems('listPrice', sortOrder= !sortOrder)" style="cursor: pointer">
                      <ion-label>
                        Buy
                        <span *ngIf="sortField === 'quantity'; else qReady">
                          <ion-icon *ngIf="sortOrder === false" name="arrow-up-circle-outline"></ion-icon>
                          <ion-icon *ngIf="sortOrder === true" name="arrow-down-circle-outline"></ion-icon>
                        </span>
                        <ng-template #qReady>
                          <ion-icon name="arrow-up-circle-outline"></ion-icon>
                          <ion-icon name="arrow-down-circle-outline"></ion-icon>
                        </ng-template>
                      </ion-label>
                    </ion-item>
                    <ion-item *ngIf="market === 'colony'" (click)="sortMarketItems('buyPrice', sortOrder= !sortOrder)" style="cursor: pointer">
                      <ion-label>
                        Sell
                        <span *ngIf="sortField === 'buyPrice'; else qReady">
                          <ion-icon *ngIf="sortOrder === false" name="arrow-up-circle-outline"></ion-icon>
                          <ion-icon *ngIf="sortOrder === true" name="arrow-down-circle-outline"></ion-icon>
                        </span>
                        <ng-template #qReady>
                          <ion-icon name="arrow-up-circle-outline"></ion-icon>
                          <ion-icon name="arrow-down-circle-outline"></ion-icon>
                        </ng-template>
                      </ion-label>
                    </ion-item>
                  </ion-item-group>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>

          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let item of aFilteredMarketInventory" class="item-list-border">
                <ion-item>
                  <ion-note>name</ion-note>
                  <ion-label>
                    {{ss.aaDefaultItems[item.name].displayName}}
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-note>type</ion-note>
                  <ion-label>
                    {{item.type}}
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-note>available</ion-note>
                  <ion-label>
                    {{item.quantity | number}}
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-note>Buy For</ion-note>
                  <ion-label>
                    {{item.listPrice | number}}
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="market === 'colony'">
                  <ion-note>Sell For</ion-note>
                  <ion-label>
                    ({{item.buyPrice}})
                  </ion-label>
                </ion-item>

                <ion-item>
                  <ion-grid>
                    <ion-row>
                      <ion-col style="text-align: center">
                        Buy {{buySellAmount.value}} @ {{item.listPrice | number}} = {{buySellAmount.value * item.listPrice | number}}
                        <br />
                        <span *ngIf="market === 'colony'">
                  (Sell {{buySellAmount.value}} @ {{item.buyPrice | number}} = {{buySellAmount.value * item.buyPrice | number}})
                </span>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <ion-item>
                          <ion-label position="floating">Amount</ion-label>
                          <ion-input
                            name="buySellAmount_{{item.name}}"
                            type="number"
                            #buySellAmount
                            min="0"
                          >
                          </ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col class="center-content">
                        <ion-button (click)="confirmTradeAlert('buy', item, buySellAmount.value, item.listPrice, buySellAmount.value * item.listPrice)" color="danger" fill="solid">Buy</ion-button>

                        <ion-button *ngIf="market === 'colony'" (click)="confirmTradeAlert('sell', item, buySellAmount.value, item.buyPrice, buySellAmount.value * item.buyPrice)" color="danger" fill="solid">Sell</ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>


