<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Control Room at {{us.aSolarBody.name}}</ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="nsTab">
    <ion-segment-button value="warehouse">
      <ion-label>Warehouse</ion-label>
    </ion-segment-button>
    <ion-segment-button value="colony">
      <ion-label>Colony</ion-label>
    </ion-segment-button>
    <ion-segment-button value="businesses">
      <ion-label>Businesses</ion-label>
    </ion-segment-button>
    <ion-segment-button value="stations">
      <ion-label>Stations</ion-label>
    </ion-segment-button>
    <!--
    <ion-segment-button value="travel">
      <ion-label>Travel</ion-label>
    </ion-segment-button>
    -->
  </ion-segment>
</ion-header>

<ion-content [ngSwitch]="nsTab">
  <span *ngSwitchCase="'warehouse'">
    <app-warehouse *ngIf="warehouseBoot" [warehouseID]="warehouseID"></app-warehouse>
  </span>

  <app-colony *ngSwitchCase="'colony'" [market]="'colony'" [trader]="'warehouse'" [traderID]="warehouseS.aWarehouse.id"></app-colony>

  <ion-card id="businesses" *ngSwitchCase="'businesses'">
    <ion-card-header>
      <ion-card-title>Businesses</ion-card-title>
      <ion-card-subtitle>Planned Features</ion-card-subtitle>
    </ion-card-header>
    <ul>
      <li>Lists your local businesses.</li>
      <li>Create new ones.</li>
    </ul>
    <!--<app-businesses></app-businesses>-->
  </ion-card>

  <app-stations trader='warehouse' [traderID]="warehouseS.aWarehouse.id" [solarBodyID]="warehouseS.aWarehouse.solarBody" *ngSwitchCase="'stations'"></app-stations>

  <ion-card id="travel" *ngSwitchCase="'travel'">
    <ion-card-header>
      <ion-card-title>Travel</ion-card-title>
      <ion-card-subtitle>Planned Features</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>
          Taxi Service
        </li>
        <li>
          Travel on a person ship to a location
        </li>
        <li>
          Transfer Clone to another Warehouse
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
