<!--This page should always be included in another page.-->

<ion-card *ngIf="ws.aWarehouse; else noWarehouse">
  <ion-card-header>
    <ion-toolbar>
      <ion-card-title>
        Businesses
      </ion-card-title>
      <ion-buttons slot="end">
        <ion-button (click)="globalS.viewTutorial('businesses')">
          <ion-icon name="bulb-outline"></ion-icon>Tutorial
        </ion-button>
      </ion-buttons>
      <ion-card-subtitle>
        <span *ngIf="!bt && bt !== 0">0</span>{{bt}} of <span *ngIf="!charS.aCharacter.skills.manager && charS.aCharacter.skills.manager !== 0">0</span>{{charS.aCharacter.skills.manager}} allowed
      </ion-card-subtitle>
      <ion-button *ngIf="newBAllowed; else skillLevel" size="small" (click)="businessCreationModal()">
        Start a new business
      </ion-button>
      <ng-template #skillLevel>
        Your skill level needs to be increased to build more businesses.
      </ng-template>
    </ion-toolbar>

  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let aBusiness of busS.aBusinesses" style="border-style: dashed;text-align: center" size="2">
          <ion-grid>
            <ion-col>
              <ion-item>
                <ion-note slot="start">name</ion-note>
                <ion-label>{{aBusiness.displayName}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-note slot="start">Type</ion-note>
                <ion-label>{{aBusiness.name}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-note slot="start">status</ion-note>
                <ion-label>{{aBusiness.status}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-button (click)="viewBusinessModal(aBusiness)">Enter</ion-button>
            </ion-col>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<ng-template #noWarehouse>
  No warehouse on planet. Please purchase a warehouse first
</ng-template>
