<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>servers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Server List
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>Name</ion-col>
          <ion-col>Status</ion-col>
          <ion-col>Character Count WIP</ion-col>
          <ion-col>Season WIP</ion-col>
          <ion-col>Select</ion-col>
        </ion-row>

        <ion-row *ngFor="let aServer of aServerList">
          <ion-col>{{aServer.id}}</ion-col>
          <ion-col>{{aServer.status}}</ion-col>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col><ion-button (click)="setServer(aServer.id)">Select</ion-button></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
