<ion-app>
  <ion-split-pane contentId="main-content" *ngIf="bootDone | async">
    <ion-menu contentId="main-content" type="overlay"><!--*ngIf="userLoggedIn | async"-->
      <ion-content>
        <ion-list id="character-details">

          <span #notLoggedIn *ngIf="!authService.userLoggedIn">
            <ion-list-header>Welcome Captain</ion-list-header>
            <ion-note>
              <ion-item routerDirection="root" routerLink="/login-register" lines="none" detail="false" routerLinkActive="">
                <ion-label>Please Login</ion-label>
              </ion-item>
            </ion-note>
          </span>

          <span *ngIf="authService.userLoggedIn">

            <span #noServer *ngIf="!ss.activeServer">
              <ion-list-header>Welcome Captain</ion-list-header>
              <ion-note>
                Server: Please Select a Server
              </ion-note>
            </span>

            <span #noCharacter *ngIf="ss.activeServer && !cs.characterFound">
              <ion-list-header>Welcome Captain</ion-list-header>
              <ion-note>Server: {{ss.activeServer}}</ion-note>
              <br />
              <ion-note>
                Please Create a Character
              </ion-note>
            </span>

            <span *ngIf="ss.activeServer && cs.characterFound">
              <ion-list-header>Welcome Captain {{cs.aCharacter.name}}</ion-list-header>
              <ion-note>Server: {{ss.activeServer}}</ion-note>
              <ion-note>Active Clone Location: {{cs.aLocation.aSolarBody.name}} in {{cs.aLocation.aSolarSystem.name}}</ion-note>
              <ion-note>
                <ion-icon name="wallet-outline" style="display:block;"></ion-icon>
                Pulsar Balance: {{cs.aCharacter.pulsars | number}} <ion-icon src="assets/icon/PulsarCreditIcon-3.svg"></ion-icon>
                <br />
                Pulsar Balance: {{cs.aCharacter.pulsars | number}} <ion-icon src="assets/icon/PulsarCreditSymbol.svg"></ion-icon>
              </ion-note>
            </span>

            <span *ngIf="ss.activeServer && cs.characterFound">
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                  <ion-icon slot="start" *ngIf="p.icon !== ''" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </span>

            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" routerLink="/" lines="none" detail="false" routerLinkActive="" (click)="logout()">
                <ion-label>Logout</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </span>

          <!--
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/tos" lines="none" detail="false" routerLinkActive="">
              <ion-label>Terms of Service</ion-label>
            </ion-item>
          </ion-menu-toggle>
          -->
        </ion-list>
      </ion-content>

      <ion-footer>
        <ion-card style="margin: 0">
          <ion-card-header>
            <ion-card-title>
              Beta 1
            </ion-card-title>
            <ion-card-subtitle>Colony Trade and Travel</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <p>Welcome to the Universe Trader Beta 1, -Trade and Travel-</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p>In this beta the active features are:</p>
                  <ul>
                    <li>
                      Ship travel
                    </li>
                    <li>
                      Ship and Warehouse Trading with Colony and Station
                    </li>
                    <li>
                      Colonies will consume and produce products based on their population
                    </li>
                  </ul>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p>If you run into any issues while playing, please use the link below to submit a bug report.</p>
                  <p>If you have any suggestioins, please add them to our discord!</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <ion-card style="margin: 0">
          <ion-card-header>
            <ion-card-title style="text-align: center">
              Support Future Development and Server Costs
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                            <a href="https://www.subscribestar.com/webcrafthouse" target="_blank">
                              <img src="../assets/images/ss_support_med_01.png" alt="" srcset="">
                            </a>
                        </ion-col>
                        <ion-col>
                            More options coming soon!
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <a href="" routerLink="/tos">Terms of Service</a>
                </ion-col>
                <ion-col>
                  <a href="https://universetrader.online/bug-report/" target="_blank">Bug Report</a>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <a href="https://discord.gg/XBBYQ8txqS" target="_blank">
                    <ion-icon name="logo-discord"></ion-icon>
                  </a>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-footer>

    </ion-menu>

    <ion-router-outlet id="main-content" class="custom-background" *ngIf="bootDone | async"></ion-router-outlet>

  </ion-split-pane>
</ion-app>

<!--
This works, but it would not let me put a NGif on the menu item to determine user role.
<ion-menu-toggle auto-hide="false">
  <ion-item *ngFor="let p of appPages; let i = index" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
    <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
    <ion-label>{{ p.title }}</ion-label>
  </ion-item>
</ion-menu-toggle>
-->

<!--
<ion-list id="labels-list">
  <ion-list-header>Labels</ion-list-header>
  <ion-item *ngFor="let label of labels" lines="none">
    <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
    <ion-label>{{ label }}</ion-label>
  </ion-item>
</ion-list>
-->
