<ion-header>
  <ion-toolbar>
    <ion-title>Global Chat</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="scrollToBottomInit()">Scroll</ion-button>
    </ion-buttons>
    <ion-segment [(ngModel)]="chatTab">
      <ion-segment-button *ngFor="let aRoom of aChatrooms" [value]="aRoom.id" (click)="changeRoom(aRoom.id)">
        <ion-label>{{aRoom.id}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" #chatContent id="chatContent">

  <ion-grid>
    <ion-row *ngFor="let message of messages | async">
      <ion-col size="9" class="message" [offset]="message.from === cs.aCharacter.name ? 3 : 0" [ngClass]="{ 'my-message': message.from === cs.aCharacter.name, 'other-message': message.from !== cs.aCharacter.name }">
        <b>{{ message.from }}</b>
        <br><br>
        <span>
          {{ message.msg }}
        </span>
        <div class="time ion-text-right"><br>{{ message.createdAt | date:'short' }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row class="ion-align-items-center">
      <ion-col size="10">
        <ion-input type="text" class="message-input" maxLength="500" [(ngModel)]="newMsg" (keyup.enter)="sendMessage()">
        </ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-button
          expand="block"
          fill="clear"
          color="primary"
          [disabled]="newMsg === ''"
          class="msg-btn"
          (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
