<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="charS.characterFound">{{charS.aCharacter.name}}</ion-title>
    <ion-title *ngIf="!charS.characterFound">Character Creation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Create</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Character Name</ion-label>
        <ion-input type="text" name="character_name" #characterName></ion-input>
      </ion-item>
      <ion-button (click)="createCharacter(characterName.value)" color="primary" fill="solid">Create</ion-button>
    </ion-card-content>
    <div class="alert alert-{{responseMessageType}}" role="alert" *ngIf="responseMessage.length">
      {{responseMessage}}
    </div>
  </ion-card>
</ion-content>
