<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="shipBootDone && shipS.aShip.name; then shipTitle; else shipUnknown"></span>
      <ng-template #shipTitle>Ship: {{shipS.aShip.name}}</ng-template>
      <ng-template #shipUnknown>Ship: Unknown</ng-template>
    </ion-title>

    <ion-buttons slot="end">
      <!--This page was being used as modal. <ion-button (click)="dismissModal()" color="danger" fill="solid">Close</ion-button>-->
    </ion-buttons>
  </ion-toolbar>

  <ion-segment [(ngModel)]="nsTab">
    <ion-segment-button value="main">
      <ion-label>Main</ion-label>
    </ion-segment-button>
    <!--
    <ion-segment-button value="colony">
      <ion-label>Colony</ion-label>
    </ion-segment-button>
    <ion-segment-button value="warehouse">
      <ion-label>Warehouse</ion-label>
    </ion-segment-button>
    -->
    <ion-segment-button value="inventory">
      <ion-label>Inventory</ion-label>
    </ion-segment-button>
    <ion-segment-button value="modules">
      <ion-label>Modules</ion-label>
    </ion-segment-button>
    <ion-segment-button value="stations">
      <ion-label>Stations</ion-label>
    </ion-segment-button>
    <ion-segment-button value="logs">
      <ion-label>Logs</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content *ngIf="shipBootDone" [ngSwitch]="nsTab">
  <!--{{timeOne}} || {{timeTwo}}-->
  <ion-grid id="main" *ngSwitchCase="'main'">
    <ion-row>
      <ion-col id="shipDetails">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Ship Details</ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col id="sdName">
                  <ion-item>
                    <ion-label position="stacked">Name</ion-label>
                    {{shipS.aShip.name}} <ion-icon *ngIf="shipS.aShip.status === 'Idle'" name="pencil-outline" (click)="editNameAlert()" style="cursor: pointer"></ion-icon>
                    <!--
                    <ion-item class="ion-no-padding" lines="none">
                      <ion-label>{{shipS.aShip.name}} <ion-icon *ngIf="shipS.aShip.status === 'Idle'" name="pencil-outline" (click)="editNameAlert()" style="cursor: pointer"></ion-icon></ion-label>
                    </ion-item>
                    -->
                  </ion-item>
                </ion-col>
                <ion-col id="sdStatus">
                  <ion-item>
                    <ion-label position="stacked">Status</ion-label>
                    {{shipS.aShip.status}}
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col id="sdOrders">
                  <ion-item>
                    <ion-label position="stacked" >Following Orders</ion-label>
                    <span *ngIf="shipS.aShip.orders; else noOrders">
                        Current Order {{shipS.aShip.ordersCurrent}}
                      </span>
                    <ng-template #noOrders>
                      No
                    </ng-template>
                  </ion-item>
                </ion-col>
                <ion-col id="sdColony" *ngIf="shipS.aShip.status === 'Idle'">
                  <ion-item>
                    <ion-label position="stacked">Colony</ion-label>
                    <ion-button *ngIf="shipS.aLocation.aSolarBody.colony === true; else noColony" color="primary" (click)="viewColony()">
                      Trade
                    </ion-button>
                    <ng-template #noColony>
                      No Colony at Location
                    </ng-template>
                    <!--
                    <ion-item class="ion-no-padding" lines="none">
                      <ion-label>
                        <ion-button *ngIf="shipS.aLocation.aSolarBody.colony === true; else noColony" color="primary" (click)="viewColony()">
                          Trade
                        </ion-button>
                        <ng-template #noColony>
                          No Colony at Location
                        </ng-template>
                      </ion-label>
                    </ion-item>
                    -->
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col id="sdWarehouse" *ngIf="shipS.aShip.status === 'Idle'">
                  <ion-item>
                    <ion-label position="stacked" style="padding-bottom:6px">Warehouse</ion-label>
                    <ion-button *ngIf="shipS.aWarehouse && shipS.aShip.status === 'Idle'; else noWarehouse" type="submit" color="primary" (click)="viewWarehouse()">
                      View
                    </ion-button>
                    <ng-template #noWarehouse>
                      No Warehouse at Location
                      <ion-button type="submit" color="primary" (click)="viewWarehouse()">
                        Build
                      </ion-button>
                    </ng-template>
                  </ion-item>
                </ion-col>
              </ion-row>

              <!--
                <ion-col>
                  <ion-item>
                    <ion-label position="stacked" style="padding-bottom:6px">Solar System</ion-label>
                    <ion-item class="ion-no-padding" lines="none">
                      <ion-label>{{shipS.aShip.solarSystemName}}</ion-label>
                    </ion-item>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label position="stacked" style="padding-bottom:6px">Solar Body</ion-label>
                    <ion-item class="ion-no-padding" lines="none">
                      <ion-label>{{shipS.aShip.solarBodyName}}</ion-label>
                    </ion-item>
                  </ion-item>
                </ion-col>
                -->
              <!--
              <ion-row *ngIf="platform.sizeTemplate === 'small'">
                <ion-col>
                  <ion-item lines="none">
                    <ion-note slot="helper">Name</ion-note>
                    <ion-label>{{shipS.aShip.name}} <ion-icon name="pencil-outline" (click)="editNameAlert()" style="cursor: pointer"></ion-icon></ion-label>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-note slot="helper">Status</ion-note>
                    <ion-label>{{shipS.aShip.status}}</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-note slot="helper">Orders</ion-note>
                    <ion-label>{{shipS.aShip.orders}}</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-note slot="helper">Solar System</ion-note>
                    <ion-label>{{shipS.aShip.solarSystemName}}</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-note slot="helper">Solar Body</ion-note>
                    <ion-label>{{shipS.aShip.solarBodyName}}</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-note slot="helper">Colony</ion-note>
                    <ion-note slot="helper">
                      <ion-button type="submit" color="primary" (click)="viewColony()">
                        Trade
                      </ion-button>
                    </ion-note>
                    <ion-label>
                      <span *ngIf="shipS.aLocation.aSolarBody.colony === 'colony' && shipS.aShip.status === 'Idle'; else noColony">
                        {{aColony.name}}
                      </span>
                      <ng-template #noColony>
                        No Colony at Location
                      </ng-template>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-note slot="helper">Warehouse</ion-note>
                    <ion-label>
                      <span *ngIf="foundWarehouse && shipS.aShip.status === 'Idle'; else noWarehouse">
                        <ion-button type="submit" color="primary" (click)="viewWarehouse()">
                          View
                        </ion-button>
                      </span>
                      <ng-template #noWarehouse>
                        No Warehouse at Location
                      </ng-template>
                    </ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              -->
            </ion-grid>
          </ion-card-content>
          <!--
          <ion-card-content id="mining" *ngIf="shipS.aShip.status === 'Mining'">
            <ion-grid>
              <ion-grid>
                <ion-row *ngIf="platform.sizeTemplate === 'standard'">
                  <ion-col>
                    <ion-item>
                      <ion-label>Name</ion-label>
                      <ion-label>{{shipS.aShip.name}}</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label>Status</ion-label>
                      <ion-label>
                        {{shipS.aShip.status}} {{shipS.aShip.miningTarget | uppercase}}
                        <ion-button (click)="cancelMining()" color="danger">
                          Cancel Mining
                        </ion-button>
                      </ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label>Solar System</ion-label>
                      <ion-label>{{shipS.aShip.solarSystemName}}</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label>Solar Body</ion-label>
                      <ion-label>{{shipS.aShip.solarBodyName}}</ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row *ngIf="platform.sizeTemplate === 'small'">
                  <ion-col>
                    <ion-item lines="none">
                      <ion-note slot="helper">Name</ion-note>
                      <ion-label>{{shipS.aShip.name}}</ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item lines="none">
                      <ion-note slot="helper">Status</ion-note>
                      <ion-label>
                        {{shipS.aShip.status}} {{shipS.aShip.miningTarget | uppercase}}
                      </ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item lines="none">
                      <ion-note slot="helper">Solar System</ion-note>
                      <ion-label>{{shipS.aShip.solarSystemName}}</ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item lines="none">
                      <ion-note slot="helper">Solar Body</ion-note>
                      <ion-label>{{shipS.aShip.solarBodyName}}</ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-grid>
          </ion-card-content>
          <ion-card-content id="traveling" *ngIf="shipS.aShip.status === 'Traveling'">
            <ion-grid>
              <ion-row *ngIf="sizeTemplate === 'standard'">
                <ion-col>
                  <ion-item>
                    <ion-label>Status</ion-label>
                    <ion-label>{{shipS.aShip.status}}</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="sizeTemplate === 'small'">
                <ion-col>
                  <ion-item>
                    <ion-note slot="helper">Name</ion-note>
                    <ion-label>{{shipS.aShip.name}}</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-note slot="helper">Status</ion-note>
                    <ion-label>{{shipS.aShip.status}}</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
          -->
        </ion-card>
      </ion-col>

      <ion-col id="operations">
        <ion-card id="oIdle" *ngIf="shipS.aShip.status === 'Idle'">
          <ion-card-header>
            <ion-card-title>Available Operations</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-col *ngIf="shipS.aShip.moduleCommandCenter === true">
                <ion-button (click)="viewOrders()">
                  Command Center
                </ion-button>
              </ion-col>

              <ion-col *ngIf="uniS.aSolarBody.resourceOne === 'ore' && shipS.aShip.moduleMiningLaser || uniS.aSolarBody.resourceOne === 'silicone' && shipS.aShip.moduleMiningLaser">
                <ion-button (click)="beginMining(uniS.aSolarBody.resourceOne, uniS.aSolarBody.resourceOneYield)">
                  Begin Mining {{uniS.aSolarBody.resourceOne}}
                </ion-button>
              </ion-col>
              <ion-col *ngIf="uniS.aSolarBody.resourceTwo === 'ore' && shipS.aShip.moduleMiningLaser || uniS.aSolarBody.resourceTwo === 'silicone' && shipS.aShip.moduleMiningLaser">
                <ion-button (click)="beginMining(uniS.aSolarBody.resourceTwo, uniS.aSolarBody.resourceTwoYield)">
                  Begin Mining {{uniS.aSolarBody.resourceTwo}}
                </ion-button>
              </ion-col>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        <ion-card id="oMining" *ngIf="shipS.aShip.status === 'Mining'">
          <ion-card-header>
            <ion-card-title>Available Operations</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-col>
                <ion-item lines="none">
                  <ion-label>Mining</ion-label>
                  <ion-label>{{shipS.aShip.miningTarget}}</ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item lines="none">
                  <ion-label>Laser Level</ion-label>
                  <ion-label>{{shipS.aShip.moduleMiningLaserLevel}}</ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item lines="none">
                  <ion-label>Resource Base Yield</ion-label>
                  <ion-label>
                    <span *ngIf="shipS.aShip.miningTarget === 'ore'">{{ss.aRules.miningShip.ore.amount}}</span>
                    <span *ngIf="shipS.aShip.miningTarget === 'silicone'">{{ss.aRules.miningShip.silicone.amount}}</span>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item lines="none">
                  <ion-label>Resource System Yield</ion-label>
                  <ion-label>{{shipS.aShip.miningYield}}%</ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item lines="none">
                  <ion-label>Total per 15 Minute Cycle:</ion-label>
                  <ion-label>
                    <span *ngIf="shipS.aShip.miningTarget === 'ore'">
                      {{((ss.aRules.miningShip.ore.amount * shipS.aShip.moduleMiningLaserLevel) * (shipS.aShip.miningYield / 100))}}
                    </span>
                    <span *ngIf="shipS.aShip.miningTarget === 'silicone'">
                      {{((ss.aRules.miningShip.silicone.amount * shipS.aShip.moduleMiningLaserLevel) * (shipS.aShip.miningYield / 100))}}
                    </span>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item lines="none">
                  <ion-label>
                    Mining Cycle Finishes at
                  </ion-label>
                  <ion-label>{{eta(shipS.aShip.miningEndTime)}}</ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item lines="none">
                  <ion-label>
                    If your ship does not have room, the excess is lost.
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-button (click)="cancelMining()" color="danger">
                  Cancel Mining
                </ion-button>
              </ion-col>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        <ion-card id="oOrders" *ngIf="shipS.aShip.orders === true">
          <ion-card-header>
            <ion-card-title>Available Operations</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col *ngIf="shipS.aShip.moduleCommandCenter === true">
                  <ion-button (click)="viewOrders()">
                    Command Center
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button (click)="cancelOrders()" color="danger">
                    Cancel Orders
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col id="locationDetails" *ngIf="shipS.aShip.status !== 'Traveling'">
        <ion-card id="ldIdle">
          <ion-card-header>
            <ion-card-title>Location Details</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label>Solar System</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="stacked" style="padding-bottom:6px">Name</ion-label>
                    <ion-item class="ion-no-padding" lines="none">
                      <ion-label>{{shipS.aLocation.aSolarSystem.name}}</ion-label>
                    </ion-item>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label position="stacked" style="padding-bottom:6px">Coordinates</ion-label>
                    <ion-item class="ion-no-padding" lines="none">
                      <ion-label>{{shipS.aLocation.aSolarSystem.xCoordinate}}, {{shipS.aLocation.aSolarSystem.yCoordinate}}</ion-label>
                    </ion-item>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label position="stacked" style="padding-bottom:6px">Solar Yield</ion-label>
                    <ion-item class="ion-no-padding" lines="none">
                      <ion-label>{{shipS.aLocation.aSolarSystem.solarYield}}</ion-label>
                    </ion-item>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-label>Solar Body</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="stacked" style="padding-bottom:6px">Name</ion-label>
                    <ion-item class="ion-no-padding" lines="none">
                      <ion-label>{{shipS.aLocation.aSolarBody.name}}</ion-label>
                    </ion-item>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label position="stacked" style="padding-bottom:6px">Type</ion-label>
                    <ion-item class="ion-no-padding" lines="none">
                      <ion-label>{{shipS.aLocation.aSolarBody.solarBodyType}}</ion-label>
                    </ion-item>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label position="stacked" style="padding-bottom:6px">Coordinates</ion-label>
                    <ion-item class="ion-no-padding" lines="none">
                      <ion-label>{{shipS.aLocation.aSolarBody.xCoordinate}}, {{shipS.aLocation.aSolarBody.yCoordinate}}</ion-label>
                    </ion-item>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label position="stacked" style="padding-bottom:6px">Primary Export</ion-label>
                    <ion-item class="ion-no-padding" lines="none">
                      <ion-label>
                        {{uniS.aSolarBody.resourceOne | uppercase}}
                        <span *ngIf="uniS.aSolarBody.resourceOne === 'ore' || uniS.aSolarBody.resourceOne === 'silicone' || uniS.aSolarBody.resourceOne === 'power'">- {{uniS.aSolarBody.resourceOneYield}}% Yield</span>
                      </ion-label>
                    </ion-item>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label position="stacked" style="padding-bottom:6px">Secondary Export</ion-label>
                    <ion-item class="ion-no-padding" lines="none">
                      <ion-label>
                        {{uniS.aSolarBody.resourceTwo | uppercase}}
                        <span *ngIf="uniS.aSolarBody.resourceTwo === 'ore' || uniS.aSolarBody.resourceTwo === 'silicone' || uniS.aSolarBody.resourceTwo === 'power'">- {{uniS.aSolarBody.resourceTwoYield}}% Yield</span>
                      </ion-label>
                    </ion-item>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label position="stacked" style="padding-bottom:6px">Colony</ion-label>
                    <ion-item class="ion-no-padding" lines="none">
                      <ion-label *ngIf="shipS.aLocation.aSolarBody.colony === true; else noColony">{{shipS.aLocation.aSolarBody.colony}}</ion-label>
                      <ng-template #noColony>
                        No Colony at Location
                      </ng-template>
                    </ion-item>
                  </ion-item>
                </ion-col>
              </ion-row>

              <!--
              <ion-row *ngIf="platform.sizeTemplate === 'standard'">
                <ion-col>
                  <ion-item>
                    <ion-label position="stacked" style="padding-bottom:6px">Name</ion-label>
                    <ion-item class="ion-no-padding" lines="none">
                      <ion-label>{{shipS.aShip.solarBodyName}}</ion-label>
                    </ion-item>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label position="stacked" style="padding-bottom:6px">Type</ion-label>
                    <ion-item class="ion-no-padding" lines="none">
                      <ion-label>{{uniS.aSolarBody.solarBodyType | uppercase}}</ion-label>
                    </ion-item>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label position="stacked" style="padding-bottom:6px">Coordinates</ion-label>
                    <ion-item class="ion-no-padding" lines="none">
                      <ion-label>{{uniS.aSolarBody.xCoordinate}}, {{uniS.aSolarBody.yCoordinate}}</ion-label>
                    </ion-item>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label position="stacked" style="padding-bottom:6px">Primary Export</ion-label>
                    <ion-item class="ion-no-padding" lines="none">
                      <ion-label>
                        {{uniS.aSolarBody.resourceOne | uppercase}}
                        <span *ngIf="uniS.aSolarBody.resourceOne === 'ore' || uniS.aSolarBody.resourceOne === 'silicone' || uniS.aSolarBody.resourceOne === 'power'">- {{uniS.aSolarBody.resourceOneYield}}% Yield</span>
                      </ion-label>
                    </ion-item>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label position="stacked" style="padding-bottom:6px">Secondary Export</ion-label>
                    <ion-item class="ion-no-padding" lines="none">
                      <ion-label>
                        {{uniS.aSolarBody.resourceTwo | uppercase}}
                        <span *ngIf="uniS.aSolarBody.resourceTwo === 'ore' || uniS.aSolarBody.resourceTwo === 'silicone' || uniS.aSolarBody.resourceTwo === 'power'">- {{uniS.aSolarBody.resourceTwoYield}}% Yield</span>
                      </ion-label>
                    </ion-item>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="platform.sizeTemplate === 'small'">
                <ion-col>
                  <ion-item lines="none">
                    <ion-note slot="helper">Name</ion-note>
                    <ion-label>{{shipS.aShip.solarBodyName}}</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-note slot="helper">Type</ion-note>
                    <ion-label>{{uniS.aSolarBody.solarBodyType | uppercase}}</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-note slot="helper">Coordinates</ion-note>
                    <ion-label>{{uniS.aSolarBody.xCoordinate}}, {{uniS.aSolarBody.yCoordinate}}</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-note slot="helper">Primary Export</ion-note>
                    <ion-label>{{uniS.aSolarBody.resourceOne | uppercase}} @ {{uniS.aSolarBody.resourceOneYield}}%</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-note slot="helper">Secondary Export</ion-note>
                    <ion-label>{{uniS.aSolarBody.resourceTwo | uppercase}} @ {{uniS.aSolarBody.resourceTwoYield}}%</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              -->
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col id="Travel" *ngIf="shipS.aShip.status === 'Idle' || shipS.aShip.status === 'Traveling'">
        <ion-card id="travelForm" *ngIf="shipS.aShip.status === 'Idle' && shipS.aShip.moduleEngine === true && shipS.aShip.moduleJumpEngine === true">
          <ion-card-header>
            <ion-card-title>Travel</ion-card-title>
            <!--
            <ion-card-subtitle>{{currentDate}}</ion-card-subtitle>
            <ion-card-subtitle>{{currentDateAdd}}</ion-card-subtitle>
            <ion-card-subtitle>{{date}}</ion-card-subtitle>
            <ion-card-subtitle>{{dateTwo}}</ion-card-subtitle>
            <ion-card-subtitle>{{timer}}</ion-card-subtitle>
            <ion-card-subtitle>{{duration}}</ion-card-subtitle>
            -->
          </ion-card-header>
          <ion-card-content>
            <form (ngSubmit)="shipS.travel()">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    Destination
                  </ion-col>
                  <ion-col>
                    Travel Time
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item fill="solid" class="ion-margin-bottom">
                      <ion-label>Solar System</ion-label>
                      <ion-select
                        name="solar_system"
                        [(ngModel)]="shipS.aTravel.aSolarSystem"
                        (ngModelChange)="readSSSolarBodies(shipS.aTravel.aSolarSystem);shipS.calcSSTT()"
                        class="solar-system-select"
                        [interfaceOptions]="{'cssClass':'wider-popover'}"
                      >
                        <ion-select-option *ngFor="let solarSystem of shipS.aUniverse | async" [value]="solarSystem">
                          {{solarSystem.name}}: {{solarSystem.xCoordinate}}, {{solarSystem.yCoordinate}}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>

                  <ion-col>
                    <ion-item lines="none">
                      <ion-label>{{shipS.aTravel.solarSystemTime}}</ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-item fill="solid" class="ion-margin-bottom">
                      <ion-label>Solar Body</ion-label>
                      <ion-select name="solar_body" [(ngModel)]="shipS.aTravel.aSolarBody" (ngModelChange)="shipS.calcSBTT()" class="solar-system-select" [interfaceOptions]="{'cssClass':'wider-popover'}">
                        <ion-select-option *ngFor="let solarBody of aSolarBodies | async" [value]="solarBody">
                          {{solarBody.name}}: {{solarBody.xCoordinate}}, {{solarBody.yCoordinate}}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>

                  <ion-col>
                    <ion-item lines="none">
                      <ion-label>{{shipS.aTravel.solarBodyTime}}</ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row></ion-row>

                <ion-row style="text-align: center">
                  <ion-col>
                    <ion-label>Total Travel Time</ion-label>
                    <ion-item lines="none">{{shipS.calcTTT()}}</ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-label>ETA</ion-label>
                    <ion-item lines="none">{{shipS.calcTTT('arrivalTime')}}</ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-button type="submit" color="primary" [disabled]="!shipS.aTravel.aSolarSystem.id || !shipS.aTravel.aSolarBody.id">
                Travel
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>

        <ion-card id="traveling" *ngIf="shipS.aShip.status === 'Traveling' && shipS.aShip.moduleEngine === true && shipS.aShip.moduleJumpEngine === true">
          <ion-card-header>
            <ion-card-title>Flight Plan</ion-card-title>
            <!--
            <ion-card-subtitle>{{currentDate}}</ion-card-subtitle>
            <ion-card-subtitle>{{currentDateAdd}}</ion-card-subtitle>
            <ion-card-subtitle>{{date}}</ion-card-subtitle>
            <ion-card-subtitle>{{dateTwo}}</ion-card-subtitle>
            <ion-card-subtitle>{{timer}}</ion-card-subtitle>
            <ion-card-subtitle>{{duration}}</ion-card-subtitle>
            -->
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-header>Solar System</ion-header>
                <ion-col>
                  <ion-item lines="none">
                    <ion-label position="stacked">From</ion-label>
                    {{shipS.aLocation.aSolarSystem.name}}<!--: {{aLocation.aSolarSystem.xCoordinate}}, {{aLocation.aSolarSystem.yCoordinate}}-->
                  </ion-item>
                </ion-col>

                <ion-col>
                  <ion-item lines="none">
                    <ion-label position="stacked">To</ion-label>
                    {{shipS.aShip.travelSS}}
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-header>Solar Body</ion-header>
                <ion-col>
                  <ion-item lines="none">
                    <ion-label position="stacked">From</ion-label>
                    {{shipS.aLocation.aSolarBody.name}}<!--: {{aLocation.aSolarBody.xCoordinate}}, {{aLocation.aSolarBody.yCoordinate}}-->
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-label position="stacked">To</ion-label>
                    {{shipS.aShip.travelSB}}
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-label position="stacked">Started</ion-label>
                  {{shipS.eta(shipS.aShip.travelStartTime)}}
                </ion-col>
                <ion-col>
                  <ion-label position="stacked">ETA</ion-label>
                  {{shipS.eta(shipS.aShip.travelAT)}} +(-) 1 Minute
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="shipS.aShip.moduleEngine === false || shipS.aShip.moduleJumpEngine === false">
          <ion-card-header>
            <ion-card-title>Proper Engines are not installed</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <span id="colony" *ngSwitchCase="'colony'">

  </span>

  <ion-card id="inventory" *ngSwitchCase="'inventory'">
    <ion-card-header>
      <ion-card-title> Available Capacity: {{shipS.capacityAvailable}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="item-list-border">
          <ion-col>
            Item
          </ion-col>
          <ion-col>
            Quantity
          </ion-col>
          <ion-col title="Cost of Goods">
            COG
          </ion-col>
          <ion-col>
            Total Cost
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of shipS.aInventory; let i = index" class="item-list-border" [ngClass]="(i % 2 === 0) ? 'odd-row' : 'even-row'">
          <ion-col size="3">
            {{ss.aaDefaultItems[item.name].displayName}}
          </ion-col>
          <ion-col>
            {{item.quantity}}
          </ion-col>
          <ion-col>
            {{item.cost / item.quantity | number}}
          </ion-col>
          <ion-col>
            {{item.cost | number}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <span id="modules" *ngSwitchCase="'modules'">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Module Hard Points</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Module Slot</ion-col>
            <ion-col>Installed?</ion-col>
            <ion-col>Level</ion-col>
            <ion-col>Actions</ion-col>
          </ion-row>

          <ion-row id="engine" class="odd-row">
            <ion-col>Engine</ion-col>
            <ion-col>
              {{shipS.aShip.moduleEngine}}
            </ion-col>
            <ion-col>
              <span *ngIf="shipS.aShip.moduleEngine; else noEngine">
                {{shipS.aShip.moduleEngineLevel}}
              </span>
              <ng-template #noEngine>
                NA
              </ng-template>
            </ion-col>
            <ion-col>
              <ion-button size="small" (click)="detachModule('engine', shipS.aShip)" *ngIf="shipS.aShip.status === 'Idle' && foundWarehouse && shipS.aShip.moduleEngine">Detach</ion-button>
            </ion-col>
          </ion-row>
          <ion-row id="jumpEngine">
            <ion-col>Jump Engine</ion-col>
            <ion-col>
              {{shipS.aShip.moduleJumpEngine}}
            </ion-col>
            <ion-col>
              <span *ngIf="shipS.aShip.moduleJumpEngine; else noJumpEngine">
                {{shipS.aShip.moduleJumpEngineLevel}}
              </span>
              <ng-template #noJumpEngine>
                NA
              </ng-template>
            </ion-col>
            <ion-col>
              <ion-button size="small" (click)="detachModule('jumpEngine', shipS.aShip)" *ngIf="shipS.aShip.status === 'Idle' && foundWarehouse && shipS.aShip.moduleJumpEngine">Detach</ion-button>
            </ion-col>
          </ion-row>
          <ion-row id="commandCenter" class="odd-row">
            <ion-col>Command Center</ion-col>
            <ion-col>
              {{shipS.aShip.moduleCommandCenter}}
            </ion-col>
            <ion-col>
              <span *ngIf="shipS.aShip.moduleCommandCenter; else noCommandCenter">
                {{shipS.aShip.moduleCommandCenterLevel}}
              </span>
              <ng-template #noCommandCenter>
                NA
              </ng-template>
            </ion-col>
            <ion-col>
              <ion-button size="small" (click)="detachModule('commandCenter', shipS.aShip)" *ngIf="shipS.aShip.status === 'Idle' && foundWarehouse && shipS.aShip.moduleCommandCenter">Detach</ion-button>
            </ion-col>
          </ion-row>
          <ion-row id="miningLaser" >
            <ion-col>Mining Laser</ion-col>
            <ion-col>
              {{shipS.aShip.moduleMiningLaser}}
            </ion-col>
            <ion-col>
              <span *ngIf="shipS.aShip.moduleMiningLaser; else noMiningLaser">
                {{shipS.aShip.moduleMiningLaserLevel}}
              </span>
              <ng-template #noMiningLaser>
                NA
              </ng-template>
            </ion-col>
            <ion-col>
              <ion-button size="small" (click)="detachModule('miningLaser', shipS.aShip)" *ngIf="shipS.aShip.status === 'Idle' && foundWarehouse && shipS.aShip.moduleMiningLaser">Detach</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Dynamic Modules</ion-card-title>
        <ion-card-subtitle>{{shipS.aModules.length}} Modules(s)</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Module</ion-col>
            <ion-col>Level</ion-col>
            <ion-col>Actions</ion-col>
          </ion-row>

          <ion-row *ngFor="let aModule of shipS.aModules; let i = index" [ngClass]="(i % 2 === 0) ? 'odd-row' : 'even-row'">
            <ion-col>{{aModule.displayName}}</ion-col>
            <ion-col>{{aModule.level}}</ion-col>
            <ion-col>
              <ion-button size="small" (click)="detachModule(aModule, shipS.aShip)" *ngIf="shipS.aShip.status === 'Idle' && foundWarehouse">Detach</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="shipS.aShip.status === 'Idle'">
      <ion-card-header>
        <ion-card-title>Prepared Modules at Local Warehouse</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Module</ion-col>
            <ion-col>Level</ion-col>
            <ion-col>Actions</ion-col>
          </ion-row>

          <span *ngFor="let aModule of shipS.aWInventory">
            <ion-row *ngIf="aModule.type === 'Prepared Module'">
              <ion-col>{{aModule.displayName}}</ion-col>
              <ion-col>{{aModule.level}}</ion-col>
              <ion-col>
                <ion-button size="small" (click)="attachModule(aModule)">Attach</ion-button>
              </ion-col>
            </ion-row>
          </span>

        </ion-grid>
      </ion-card-content>
    </ion-card>
  </span>

  <span id="stations" *ngSwitchCase="'stations'">
    <app-stations trader='ship' [traderID]="shipS.aShip.id" [solarBodyID]="shipS.aShip.solarBody" *ngIf="shipS.aShip.status === 'Idle'"></app-stations>

    <ion-card *ngIf="shipS.aShip.status === 'Traveling'">
      <ion-card-content>
        Ship is traveling
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="shipS.aShip.status === 'Mining'">
      <ion-card-content>
        Ship is mining
      </ion-card-content>
    </ion-card>
  </span>

  <span id="logs" *ngSwitchCase="'logs'">
    <app-logs></app-logs>
  </span>
</ion-content>
