<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
Dashboard Works
  <ion-card>
    <ion-card-header>Dashboard</ion-card-header>
  </ion-card>
  <!--
  <ion-card *ngIf="user">
    <ion-img [src]="user.photoURL"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{user.email}}</ion-card-subtitle>
      <ion-card-title>{{user.displayName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="logoutG()" expand="block" color="danger">Logout</ion-button>
    </ion-card-content>
  </ion-card>
  -->
</ion-content>
