<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>business-creation</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="globalS.viewTutorial('businessCreation')">
        <ion-icon name="bulb-outline"></ion-icon>Tutorial
      </ion-button>
      <ion-button (click)="dismissModal()" color="danger" fill="solid">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" name="businessName" [(ngModel)]="aNewBusiness.businessName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Select Business Type</ion-label>
        <ion-select name="colony" [(ngModel)]="aNewBusiness.name">
          <span *ngFor="let businessType of ss.aDStructures">
            <ion-select-option [value]="businessType.id" *ngIf="businessType.type !== 'storage'">{{businessType.displayName}}</ion-select-option>
          </span>
        </ion-select>
      </ion-item>
    </form>
  </ion-card>

  <span *ngFor="let aStructure of ss.aDStructures">
    <ion-grid *ngIf="aStructure.name === aNewBusiness.name">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Details</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    Type: {{aStructure.type}}
                  </ion-col>
                  <ion-col>
                    Upkeep: {{aStructure.upkeep | number}}/cycle
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    Produces
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col *ngFor="let produced of aStructure.production">
                    {{produced.name}}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Construction Requirements</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col *ngFor="let aRequirement of aStructure.construction">
                    <ion-item>
                      <ion-note slot="helper">{{aRequirement.name}}</ion-note>
                      <ion-label>{{aRequirement.amount | number}} <ion-icon *ngIf="aRequirement.name === 'labor'" src="assets/icon/PulsarCreditSymbol.svg"></ion-icon></ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-button (click)="beginConstruction(aStructure)">Construct Business</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </span>
</ion-content>
